@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap");

:root {
  --background-color: #fefefe;
  --text-color: #0e0e0e;
  --blue-color: #3765f6;
  --link-underline: rgba(14, 14, 14, 0.2);
  --button-light: #eaeaea;
  --button-dark: #3e3e3e;
}

body {
  font-family: "Montserrat";
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
/*
    Dark theme button
*/

.theme {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.6rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--button-light);
  color: var(--text-color);
}

/*
    Main Content
*/

main {
  width: 55%;
  max-width: 1200px;
  margin: 8rem auto;
}

.name {
  font-weight: 600;
  font-size: 4.8rem;
}

.preview {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--blue-color);
}

.about {
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.3rem;
}

.link {
  cursor: pointer;
  margin-right: 1rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
  text-decoration: none;
  border-bottom: 2px solid var(--link-underline);
}

a:visited {
  text-decoration: none;
}

.link:hover {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

.link-light,
.link-light:visited {
  color: var(--text-color);
}

.link-dark,
.link-dark:visited {
  color: var(--background-color);
  border-color: var(--button-dark);
}

.link-light:visited:hover,
.link-dark:visited:hover {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

/* 
    Modal
*/

#modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(10, 10, 10, 0.8);
}

#popup {
  width: 500px;
  border-radius: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: white;
  border: thin solid white;
}

#modal h2 {
  text-align: center;
  color: var(--text-color);
}

.form-group {
  margin: 0 auto;
  width: 90%;
  display: inline-flex;
  flex-direction: column;
  padding: 0 0.8rem 0.2rem 0.8rem;
}

label {
  position: relative;
  top: 8px;
  left: 0.6rem;
  font-size: 0.75rem;
  color: #555;
  font-weight: 500;
}

label span {
  background-color: white;
  padding: 0.1rem 0.4rem;
  border: thin solid white;
}

input,
textarea {
  border: thin solid #bbb;
  padding: 0.7rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

input:focus {
  outline: 0;
  border: thin solid #555;
}

textarea {
  resize: none;
  height: 200px;
  font-family: "Montserrat";
}

.btn-wrap {
  width: 90%;
  margin: 0 auto;
  padding: 0.6rem;
}

.error {
  border: thin solid crimson;
}

@media screen and (max-width: 1200px) {
  main {
    margin-top: 6rem;
    width: 90%;
  }
  #popup {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 1rem;
  }
  #popup {
    width: 90%;
    padding: 1rem;
  }
}

@media screen and (min-width: 2200px) {
  main {
    margin-top: 20rem;
  }
}

/* Modal Dark Theme */
#popup.bg-dark {
  background-color: var(--text-color);
  border-color: #555;
}

#popup.bg-dark h2 {
  color: var(--background-color);
}

input.bg-dark,
textarea.bg-dark {
  background-color: var(--text-color);
  color: white;
}

input.bg-dark:focus,
textarea.bg-dark:focus {
  border: thin solid white;
}

.span-dark {
  background-color: var(--text-color);
  border-color: transparent;
  color: white;
}

.btn-dark {
  color: var(--background-color);
  background-color: var(--button-dark);
}
